GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  //VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "Projectile motion simulator"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "Projectile motion simulator"
      VALUE "LegalCopyright", "Any one can use ,sell and modify this product"
      //VALUE "OriginalFilename", "Projectile motion simulator.exe"
      VALUE "ProductName", "Projectile motion simulator"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
